body{
    margin: 0;
    padding: 0;
    background-color: rgb(61, 60, 66);
    width: 100%;
    height: 100%;
}
header h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: 800;
    color: lightgray;
    text-align: center;
}
.main__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.options{
    width: 50%;
    height: 600px;
    background-color: rgb(126, 125, 129);
}
.sketch__grid{
    display: grid;
    background-color: white;
    width: 600px;
    height: 600px;
}
.panels{
    border: 1px solid rgba(0, 0, 0, 0.192);
    background-color: transparent;
    user-select: none;
}